@import "~bootstrap/scss/bootstrap";

$fontFamily: "Gill Sans", sans-serif;
$fontFamilyHeaderFooter: "Caveat", cursive;
$fontFamilyAll: "Pacifico", cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 5% 5%;
  text-align: center;
  font-family: $fontFamilyAll;
}

.header,
.footer {
  font-family: $fontFamilyHeaderFooter;
}

.pCounter{
  display: inline;
}

.btnAllHeart,
.btnBack {
  margin: 5% 0;
}