/* @import "~bootstrap/scss/bootstrap"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #df1f50;
  font-family: "SevenSeasRegular"; 
  text-shadow: 1px 1px 1px #fd8eb3;
}

.body__dark {
  background-image: url("./../public/img/backgroundFull.png");
  background-repeat: repeat;
}

.body__light {
  background-color: #FFE2E2;
}

.team__light {
  background-color: #293133;
}

.team__dark {
  background-color: black;
}

.bodyContainer {
  position: relative;
}

.bodyContainer__logo {
  position: absolute;
  width: 20%;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: .5rem;   
  line-height: 70px;
  margin-top: 100px;
  text-align: center;
}

.menu {
  display: flex;
  gap: 50px;
  height: 50px;
  margin: 5% 0;
}

.pCounter {
  color: #df1f50;
  display: inline;
  font-size: 25px;
}

.btn {
  cursor: pointer;
  font-size: 30px;
  width: 300px;
  border-radius: 8px;
  height: 100%;
  letter-spacing: .2rem;
}

.btnIcon {
  background: none;
  cursor: pointer;
}

.btnLikes, .btnBack {
  font-family: 'SevenSeasRegular';
  font-size: 30px;
  font-weight: 700;
}

.btnAllHeart {
  border: 2px solid #df1f50;
}

.btnAllHeart:hover {
  color: #ffb2b9;
  background-color: #df1f50;
  border: 2px solid #df1f50;
}

.btnAllHeart:hover .pCounter {
  color: #ffb2b9;
}

.btnAllHeart:disabled .pCounter {
  color: #df1f50;
}

.btnOrdinary {
  border: 2px solid #ffb2b9;
  color: #ffb2b9;
}

.btnOrdinary:hover {
  background-color: #ffb2b9;
  border: 2px solid #ffb2b9;
  color: #df1f50;
}

.btnAllHeart:disabled,
.btnShowMore:disabled {
  color: #ffb2b9;
  cursor: default;
}

.btnAllHeart__light:disabled,
.btnShowMore__light:disabled {
  background-color: #293133;
}

.btnAllHeart__dark:disabled,
.btnShowMore__dark:disabled {
  background-color: black;
}

.btnHeart, .btnDel, .btnUp {
  border: none;
}

.btnHeart svg {
  color: #df1f50;
}

.cardsBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  border: 2px solid #df1f50;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 357px;
  min-width: 270px;
  margin-bottom: 60px;
  padding: 20px;
  transition: box-shadow .5s linear;
  width: 20%;
}

.card:hover {
  box-shadow: 1px 1px 1px 5px #df1f50;
}

.btnBlock {
  display: flex;
  justify-content: space-between;
}

.cardImg {
  padding: 0 15px;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardTitle {
  letter-spacing: .5rem;
  width: 100%;
  #ffb2b9-space: pre-line;
}

.cardText {
  color: #ffb2b9;
  font-size: 12px;
  font-family: roboto;
  letter-spacing: .1rem;
}

.inputBlock {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

.inputBlock__inputSearch::placeholder {
  color: #ffb2b9;
  font-size: 30px;
}

.inputBlock__inputSearch {
  border: 2px solid #ffb2b9;
  border-radius: 8px;
  color: #ffb2b9;
  font-family: "SevenSeasRegular"; 
  font-size: 30px;
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  padding: 10px 50px 10px 20px;
  resize: none;
  
  &:hover {
    border: 2px solid #df1f50;
    outline-width: 0;
  }

  &:active {
    border: 2px solid #df1f50;
    outline-width: 0;
  }

  &:focus {
    border: 2px solid #df1f50;
    outline-width: 0;
  }
}

.imgBlock {
  border: none;
  cursor: pointer;
  height: 1.5rem;
  outline: none;
  padding: 15px 40px 0 0;
  position: absolute;
  z-index: 50;
  width: 1.5rem;
}

.footer {
  display: flex;
  gap: 30px;
  height: 50px;
  margin: 2% 0 5% 0;
}

.notFoundBlock {
  align-items: center;
  display:flex;
  flex-direction: column;
  gap: 60px;
}

.notFoundBlock__text {
  font-size: 35px;
  letter-spacing: .2rem;
}

.notFoundBlock__imgBlock {
  max-width: 700px;
}

.notFoundBlock__img {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1039px) {
  .cardsBlock {
    gap: 3%;
  }
  
  /* .card {
    min-width: 230px;
  } */
}


@media screen and (max-width: 767px) {
  .menu {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 100%;
  }

  .title {
    font-size: 40px;
    line-height: 40px;
    margin-top: 30px;
  }

  .btn {
    font-size: 20px;
    height: 40px;
    width: 200px;
  }

  .inputBlock__inputSearch {
    height: 40px;
    width: 250px;
    font-size: 20px;
  }

  .inputBlock__inputSearch::placeholder {
    font-size: 20px;
  }

  .pCounter {
    font-size: 20px;
  }

  .imgBlock {
    padding: 12px 30px 0 0;
    
  }

  .card {
    min-height: fit-content;
    min-width: 160px;
  }
  .cardBody {
    font-size: 14px;
  }

  svg {
    width: 15px;
    height: 15px;
  }

  .cardImg {
    height: 100px;
  }

  .notFoundBlock__text {
    font-size: 25px;
    text-align: center;
  }
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}